@media all and (orientation:portrait) {
    @-ms-viewport {
        width:320px;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

@media all and (orientation:landscape) {
    @-ms-viewport {
        width:480px;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 11pt;
    font-family: "Segoe WP";
    letter-spacing: 0.02em;
    background-color: #3e1c00;
    color: #ffffff;
}

a{
	color:#FFFFFF;
	text-decoration: none;
}

#page-title {
    font-size: 24pt;
}

.main-page-content{
	text-align:center;
	top:50px;
	position: relative;
}
.main-page-menu{
	position: relative;
	text-align:center;
	top:60px;
}
.main-page-menu-item{
	text-align:center;
	color:#FFFFFF;
	padding:8px 30px 8px 30px;
	border:2px solid white;
	width:200px;
	margin-left: auto;
	margin-right: auto;
}
.main-page-logo{
	position:relative;
	max-width: 320px;
	width:100%;
	padding-right:8px;
	padding-left:8px;
}

.speecheo-title{
	height:50px;
	width:100%;
	text-align:center;
	background-color:#261100;
	padding-top: 5px;
	padding-bottom: 8px;
}